// html {
// }
body {
  font-family: "Montserrat", "Arial", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet-width) {
    width: 728px;
  }
  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
