.button {
  padding: 8px 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button--add {
  color: $base-white;
  background-color: $base-primary;

  &:hover {
    background-color: $alt-primary-lighter;
  }

  &:active {
    background-color: $alt-primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}

.button--unset {
  color: $base-primary;
  background-color: $base-white;

  &:hover {
    color: $base-white;
    background-color: $alt-primary-lighter;
  }

  &:active {
    color: $base-white;
    background-color: $alt-primary-darker;
  }

  &:disabled {
    color: $base-white;
    background-color: $base-grey;
  }
}
