.catalog {
  padding: 50px 20px 44px;
  background-color: $bg-lightest-grey;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;
  }
  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}
