.contacts-address {
  position: relative;
  padding-left: 19px;
  margin: 0;
  margin-bottom: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 16px;
    top: 2px;
    left: 0;
    background-image: url(../../images/icons/address.svg);
    background-repeat: no-repeat;
  }
}
.contacts-phone {
  color: $base-black;
  position: relative;
  padding-left: 19px;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 16px;
    top: 1px;
    left: 0;
    background-image: url(../../images/icons/phone.svg);
    background-repeat: no-repeat;
  }
}
