.page-header {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}
.page-header__logo {
  padding: 12px 20px;
  order: -2;

  picture {
    display: block;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}
.page-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }
  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
.page-header--closed .page-header__nav-toggle {
  background-image: url(../../img/open-menu.svg);
}
.page-header--opened .page-header__nav-toggle {
  background-image: url(../../img/close-menu.svg);
}
.page-header__title {
  display: none;
  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    width: 126px;
    font-size: 12px;
    line-height: 16px;
  }
}
.page-header__nav-toggle {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: $base-white;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  cursor: pointer;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
.page-header--closed .page-header__nav-toggle {
  background-image: url(../../images/icons/menu.svg);
}
.page-header--opened .page-header__nav-toggle {
  background-image: url(../../images/icons/close-menu.svg);
}
