.page-header {
  display: flex;
  align-items: center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.page-header__logo {
  padding: 12px 20px;
  order: -2;

  picture {
    display: block;
    height: 36px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.page-header__title {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    width: 126px;
    font-size: 12px;
    line-height: 16px;
  }
}

.page-header__nav-toggle {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: $base-white;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  cursor: pointer;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header--closed .page-header__nav-toggle {
  background-image: url(../../images/icons/menu.svg);
}

.page-header--opened .page-header__nav-toggle {
  background-image: url(../../images/icons/close-menu.svg);
}

.page-header--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-header--nojs {
  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:
      "logo user button"
      "menu menu menu";

    .page-header__logo {
      grid-area: logo;
    }

    .page-header__nav-toggle {
      grid-area: button;
    }

    .main-nav {
      grid-area: menu;
      position: unset;
      top: unset;
      left: unset;
    }

    .user-list {
      grid-area: user;
    }
  }
}

.page-header--nojs .site-list__item {
  display: block;
}
