.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: right;
  }
}

.pagination__item-button {
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  min-width: 24px;
  height: 24px;
  color: $base-primary;
  background-color: $base-white;
  border-radius: 4px;
  cursor: pointer;

  span {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline-flex;
    }
  }

  svg {
    fill: $base-primary;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover,
  &:focus {
    color: $base-white;
    background-color: $alt-primary-lighter;

    svg {
      fill: $base-white;
    }
  }

  &:active {
    color: $base-white;
    background-color: $alt-primary-darker;

    svg {
      fill: $base-white;
    }
  }
}

.pagination__item-button--current {
  font-family: "Montserratsemibold", "Arial", sans-serif;
  color: $base-black;
  background-color: unset;
  border-radius: 4px;
  cursor: pointer;
}

.pagination__item-button--disabled {
  color: $base-white;
  background-color: $alt-light-grey;
  cursor: unset;

  svg {
    fill: $base-white;
  }

  &:hover,
  &:focus,
  &:active {
    color: $base-white;
    background-color: $alt-light-grey;

    svg {
      fill: $base-white;
    }
  }
}

.pagination__item-button--previous,
.pagination__item-button--next {
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }
}
