.promotion--1 {
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(
      $bg-flat-white 0%,
      $bg-flat-white 71%,
      $base-white 71%
    );
  }
  @media (min-width: $desktop-width) {
    background: $bg-flat-white;
  }
}
.promotion--2 {
  background-color: $bg-lavender-latte;

  @media (min-width: $tablet-width) {
    background: linear-gradient(
      $bg-lavender-latte 0%,
      $bg-lavender-latte 71%,
      $base-white 71%
    );
  }
  @media (min-width: $desktop-width) {
    background: $bg-lavender-latte;
  }
}
.promotion--3 {
  background-color: $bg-espresso;

  @media (min-width: $tablet-width) {
    background: linear-gradient(
      $bg-espresso 0%,
      $bg-espresso 71%,
      $base-white 71%
    );
  }
  @media (min-width: $desktop-width) {
    background: $bg-espresso;
  }
}
.promotion__actions {
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 80px 1fr 80px;
  }
}
.promotion__button {
  position: relative;
  width: 100%;
  padding: 0;
  border: 0;
  background-color: unset;
  cursor: pointer;

  svg {
    fill: $base-primary;
    width: 11px;
    height: 20px;
  }

  &:disabled {
    svg {
      fill: $base-grey;
    }
  }

  @media (min-width: $tablet-width) {
    height: 71%;
  }
  @media (min-width: $desktop-width) {
    height: unset;
  }
}
.promotion__button--previous {
  &:hover,
  &:focus {
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }
  &:active {
    background: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}
.promotion__button--next {
  &:hover,
  &:focus {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }
  &:active {
    background: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0) 0%,
      rgba(120, 89, 207, 0.25) 100%
    );
  }
}
.promotion__slider-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 84px;
  }
}
.promotion__slider {
  list-style: none;
  margin: 0;
  padding: 0;
}
.promotion__slider-controls {
  display: none;
  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    width: 202px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    left: calc(50% - 101px);
    z-index: 20;
  }
}
.promotion__slider-button {
  border: none;
  padding: 0;
  width: 62px;
  height: 4px;
  background-color: $base-white;
  cursor: pointer;

  &:hover, // focus?
  &:active {
    background-color: $alt-primary-opacity;
  }
}
.promotion__slider-button--current {
  background-color: $base-primary;
}
