.social .page-footer__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: unset;
  }
}
.social__logo-image {
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}
.social__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    margin-bottom: 50px;
  }
}
.social__list {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
.social__link {
  padding: 10px;
  height: 20px;
  border-radius: 4px;
  display: block;
  cursor: pointer;

  svg {
    fill: $base-grey;
  }

  &:hover,
  &:focus {
    color: $alt-primary-lighter;
    background-color: $base-secondary;

    svg {
      fill: $base-primary;
    }
  }
  &:active {
    color: $alt-primary-darker;
    background-color: $alt-primary-opacity;

    svg {
      fill: $base-primary;
    }
  }
}
