.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    gap: 10px;
    justify-content: flex-end;
  }
}
.sorting__title {
  margin: 0;
  font-family: "Montserratsemibold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.sorting__select {
  list-style: none;
  margin: 0;
  padding: 4px 10px;
  font-family: "Montserratsemibold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  text-transform: lowercase;
  background-color: inherit;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $base-secondary;
    border-radius: 4px;
  }
}
// .sorting__select-item {
//   font-family: "Montserrat", "Arial", sans-serif;
//   font-size: 16px;
//   line-height: 24px;

//   &:hover {
//     background-color: $base-secondary;
//   }
// }
